@import "../runo/legacy-styles.css";


/* Set the amount of horizontal cell spacing in a
 * specific element with the "-currentInfo" style. */
.v-horizontallayout-currentInfo .v-horizontallayout-spacing-on {
    padding-left: 30px;
}

/* Set the amount of vertical cell spacing in a
 * specific element with the "-currentInfo" style. */
.v-verticallayout-currentInfo .v-verticallayout-spacing-on {
    padding-top: 10px;
}

hr {
	size: 1px;
	color: black;
}

.v-tabsheet-tabitem .v-captiontext {
	font-size:15px !important;
}

.v-label {
	/*font-size:15px !important; */
}

.v-tabsheet {
}

.v-tabsheet-content {

}

.commandOverlay {
	background: orange;	
}

.v-nativebutton-backButton {
	border: none;
	background: transparent url(img/back.png) no-repeat;
 	width: 27px;
	height: 21px;
}

.debugPanel {
	background: orange;
}

.v-horizontallayout-newLayout {
	/* background: yellow; */
}

.v-horizontallayout-logsLayout {
	/* background: orange; */
}

.v-verticallayout-infoLayout {
}

.systemSlot {
	/* background: yellow; */
}

.nodesSlot {
	/* background: orange; */
}

.nodesLayout {
	/* background: blue; */
}
.buttonsBar {
	background: whitesmoke;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: lightgray;
}

.panelHeaderLayout {
	font-size: 15px;
	background: #99aeca;
}

.panelHeaderLayout-editable {
	font-size: 15px;
	background: #ffdb58;
}

.editNode {
	position: absolute;
    top: 5px;
    left: -6px;
}

.deleteNode {
	position: absolute;
    top: 5px;
    left: 40px;
}

.editSystem {
	position: absolute;
    top: 5px;
    left: 0px;
}

.deleteSystem {
	position: absolute;
    top: 5px;
    left:40px;
}

.editChart {
	position: absolute;
    top: 8px;
    left: 10px;
}

.deleteChart {
	position: absolute;
    top: 8px;
    left: 368px;
}

.v-label-nameLabel {
	
}

.v-verticallayout-loginView {
	background: #99aeca;
}

.v-verticallayout-loginForm .v-label {
	font-size: 16px !important;
	white-space:nowrap;	
}

.componentButton {
	/* display: block; */
}

.chartButton {
}

.chartButton.draggable {
	border: 2px dotted orange;
	cursor: hand; cursor: pointer;
}

.draggableLabel {
	position: absolute;
    top: 80px;
    left: 100px;
	cursor: hand; cursor: pointer;
}

.v-nativebutton-expandButton {
	border: none;
	background: transparent url(img/expand.png) no-repeat;
 	width: 22px;
	height: 22px;
}

.v-nativebutton-contractButton {
	border: none;
	background: transparent url(img/contract.png) no-repeat;
 	width: 22px;
	height: 22px;
}

/*.v-button-with-hand {
   cursor: pointer;
}*/

/*** aws:
	{"state":"master","stateid":1,"description":"Master"},
	{"state":"slave","stateid":2,"description":"Slave Online"},
	{"state":"offline","stateid":3,"description":"Slave Offline"},
	{"state":"stopped","stateid":5,"description":"Slave Stopped"},
	{"state":"error","stateid":13,"description":"Slave Error"},
	{"state":"standalone","stateid":18,"description":"Standalone Database"}
***/

.v-verticallayout-master {
    background: transparent url(img/components/DB-green_40.png) no-repeat;
    display: block;
}
.v-verticallayout-master-20 {
    background: transparent url(img/components/DB-green_20.png) no-repeat;
}
.v-verticallayout-master-40 {
    background: transparent url(img/components/DB-green_40.png) no-repeat;
}
.v-verticallayout-master-60 {
    background: transparent url(img/components/DB-green_60.png) no-repeat;
}
.v-verticallayout-master-80 {
    background: transparent url(img/components/DB-green_80.png) no-repeat;
}
.v-verticallayout-master-100 {
    background: transparent url(img/components/DB-green_100.png) no-repeat;
}

.v-verticallayout-slave {
	 background: transparent url(img/components/DB-green_40.png) no-repeat;
}
.v-verticallayout-slave-20 {
	 background: transparent url(img/components/DB-green_20.png) no-repeat;
}
.v-verticallayout-slave-40 {
	 background: transparent url(img/components/DB-green_40.png) no-repeat;
}
.v-verticallayout-slave-60 {
	 background: transparent url(img/components/DB-green_60.png) no-repeat;
}
.v-verticallayout-slave-80 {
	 background: transparent url(img/components/DB-green_80.png) no-repeat;
}
.v-verticallayout-slave-100 {
	 background: transparent url(img/components/DB-green_100.png) no-repeat;
}

.v-verticallayout-offline,
.v-verticallayout-stopped {
    background: transparent url(img/components/DB-blue.png) no-repeat;
}

.v-verticallayout-standalone {
    background: transparent url(img/components/DB-mustard.png) no-repeat;
}

/*** galera: 
	{"state":"down","stateid":100,"description":"Down"},
	{"state":"open","stateid":101,"description":"Open"},
	{"state":"primary","stateid":102,"description":"Primary"},
	{"state":"joiner","stateid":103,"description":"Joiner"},
	{"state":"joined","stateid":104,"description":"Joined"},
	{"state":"synced","stateid":105,"description":"Synced"},
	{"state":"donor","stateid":106,"description":"Donor"},
	{"state":"isolated","stateid":99,"description":"Isolated"}
***/
/***
		galeraIcons.put("down", "stopped");
		galeraIcons.put("open", "starting");
		galeraIcons.put("primary", "master");
		galeraIcons.put("joiner", "promoting");
		galeraIcons.put("joined", "master");
		galeraIcons.put("synced", "master");
		galeraIcons.put("donor", "master");
		galeraIcons.put("isolated", "isolated");
***/
.v-verticallayout-down {
    background: transparent url(img/components/DB-blue.png) no-repeat;
}
.v-verticallayout-open {
    background: transparent url(img/components/DB-cornflour.png) no-repeat;
}
.v-verticallayout-primary,
.v-verticallayout-joiner,
.v-verticallayout-joined,
.v-verticallayout-synced,
.v-verticallayout-donor {
    background: transparent url(img/components/DB-green_40.png) no-repeat;
}

.v-verticallayout-isolated {
    background: transparent url(img/components/DB-mustard.png) no-repeat;
}
.v-verticallayout-error {
    background: transparent url(img/components/DB-red.png) no-repeat;
}
.v-verticallayout-invalid {
    background: transparent url(img/components/DB-questionmark.png) no-repeat;
}

.v-verticallayout-system {
    background: transparent url(img/components/cluster.png) no-repeat;
}

.node {
	position: absolute;
    top: 4px;
    left: 4px;
}

.system {
	position: absolute;
    top: 4px;
    left: 4px;
}

.node .v-label {
	 position: relative;
	 top: 20px; 
}

.system .v-label {
	 position: relative;
	 top: 20px; 
}

.selected {
	background-color: gold;
}

.network {
	 border-bottom: 2px solid black;
}

.v-nativebutton-caption,
.system .v-button-caption {
    font-size: 16px;
    font-weight: normal;
    position:absolute;
    bottom:0;
}

.v-horizontallayout-titleLayout {
	
}

.separator {
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:lightgray;
}

.v-label-warning, warning {
    font-size: 16px;
}

.v-label-instructions {
    font-size: 16px;
}

.api-response {
    font-size: 13px;
}

.icon-after-caption img {
    float: right;
}

.v-verticallayout-externalsLayout {
    font-size: 14px;
}

.dialogLabel {
	font-size: 16px;
	font-style: bold;
	white-space:nowrap;
}

.chartPreview {
	float: left;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
}

.v-horizontallayout-infoTab {
	/* background: blue; */
}

.v-verticallayout-controlTab {
	/* background: red; */
	font-size: 16px !important;
}

.v-verticallayout-containerLayout {
	/*background: red;*/
}

.v-verticallayout-controlsLayout {
}

.v-horizontallayout-scriptingLayout {
}

.v-verticallayout-scriptingControlsLayout {
}

.v-verticallayout-scriptingProgressLayout {
}

.stepIcons {
    font-size: 20px;
    font-weight: normal;
}

.v-embedded-image-stepIcons .v-embedded-image-caption {
    display: block;
    white-space: normal;
    text-align: center;
}

.v-verticallayout-scriptingResultsLayout {
}

.v-scriptingLayout-margin-top {
	padding-top: 50px;
}

.v-nativebutton-run {
    outline: none;
    border: none;
    background: transparent url(img/controls/start.png) no-repeat;
    width: 32px;
    height: 32px;
}    

.v-nativebutton-stop {
    outline: none;
    border: none;
    background: transparent url(img/controls/stop.png) no-repeat;
    width: 32px;
    height: 32px;
}    

.v-nativebutton-schedule {
    outline: none;
    border: none;
    background: transparent url(img/controls/schedule.png) no-repeat;
    width: 41px;
    height: 48px;
}    

