@import "../runo/legacy-styles.css";


/* Set the amount of horizontal cell spacing in a
 * specific element with the "-currentInfo" style. */
.v-horizontallayout-currentInfo .v-horizontallayout-spacing-on {
    padding-left: 30px;
}

/* Set the amount of vertical cell spacing in a
 * specific element with the "-currentInfo" style. */
.v-verticallayout-currentInfo .v-verticallayout-spacing-on {
    padding-top: 10px;
}

.v-tabsheet-tabitem .v-captiontext {
	font-size:15px !important;
}

.v-label {
	/*font-size:15px !important; */
}

.v-tabsheet {
}

.v-tabsheet-content {

}

.v-verticallayout-infoLayout {
}

.buttonsBar {
	background: whitesmoke;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: lightgray;
}

.v-horizontallayout-panelHeaderLayout {
	font-size: 15px;
	background: lightsteelblue;
}

.v-button-deleteChart {
	margin-left: -41px;
	position: relative;
    top: -206px;
    left: -10px;
    opacity: 1;
    /* transition: opacity .5s linear; */
}

.v-label-nameLabel {
	
}

.v-verticallayout-loginView {
	background: #A8C8F9;
}

.v-verticallayout-loginForm .v-label {
	font-size: 16px !important;
	white-space:nowrap;	
}


.v-verticallayout-invalid .v-slot {
    background: transparent url(img/normal/invalid.png) no-repeat;
}

.v-verticallayout-master .v-slot {
    background: transparent url(img/normal/master_0.png) no-repeat;
}
.v-verticallayout-master-20 .v-slot {
    background: transparent url(img/normal/master_20.png) no-repeat;
}
.v-verticallayout-master-40 .v-slot {
    background: transparent url(img/normal/master_40.png) no-repeat;
}
.v-verticallayout-master-60 .v-slot {
    background: transparent url(img/normal/master_60.png) no-repeat;
}
.v-verticallayout-master-80 .v-slot {
    background: transparent url(img/normal/master_80.png) no-repeat;
}
.v-verticallayout-master-100 .v-slot {
    background: transparent url(img/normal/master_100.png) no-repeat;
}

.v-verticallayout-slave .v-slot {
	 background: transparent url(img/normal/node_0.png) no-repeat;
}
.v-verticallayout-slave-20 .v-slot {
	 background: transparent url(img/normal/node_20.png) no-repeat;
}
.v-verticallayout-slave-40 .v-slot {
	 background: transparent url(img/normal/node_40.png) no-repeat;
}
.v-verticallayout-slave-60 .v-slot {
	 background: transparent url(img/normal/node_60.png) no-repeat;
}
.v-verticallayout-slave-80 .v-slot {
	 background: transparent url(img/normal/node_80.png) no-repeat;
}
.v-verticallayout-slave-100 .v-slot {
	 background: transparent url(img/normal/node_100.png) no-repeat;
}

.v-verticallayout-offline .v-slot {
    background: transparent url(img/normal/offline.png) no-repeat;
}    
.v-verticallayout-stopping .v-slot {
    background: transparent url(img/normal/stopping.png) no-repeat;
}    
.v-verticallayout-stopped .v-slot {
    background: transparent url(img/normal/stopped.png) no-repeat;
}    
.v-verticallayout-isolating .v-slot {
    background: transparent url(img/normal/isolating.png) no-repeat;
}    
.v-verticallayout-recovering .v-slot {
    background: transparent url(img/normal/recovering.png) no-repeat;
}    
.v-verticallayout-restoring .v-slot {
    background: transparent url(img/normal/restoring.png) no-repeat;
}    
.v-verticallayout-backingup .v-slot {
    background: transparent url(img/normal/backingup.png) no-repeat;
}    
.v-verticallayout-starting .v-slot {
    background: transparent url(img/normal/starting.png) no-repeat;
}    
.v-verticallayout-promoting .v-slot {
    background: transparent url(img/normal/promoting.png) no-repeat;
}    
.v-verticallayout-synchronizing .v-slot {
    background: transparent url(img/normal/synchronizing.png) no-repeat;
}    
.v-verticallayout-error .v-slot {
    background: transparent url(img/normal/error.png) no-repeat;
}

.v-verticallayout-system .v-slot,
.v-verticallayout-sys_stopping .v-slot,
.v-verticallayout-sys_stopped .v-slot,
.v-verticallayout-sys_starting .v-slot {
    background: transparent url(img/normal/system.png) no-repeat;
}    


.node .v-label {
	 position: relative;
	 top: 20px; 
}

.system .v-label {
	 position: relative;
	 top: 20px; 
}

.selected {
	background-color: gold;
}

.v-slot-node {
	 border-bottom: 2px solid black;
}


.v-nativebutton-caption,
.system .v-button-caption {
    font-size: 16px;
    font-weight: normal;
    position:absolute;
    bottom:0;
}


.v-horizontallayout-titleLayout {
	
}

.v-verticallayout-instructions {
    font-size: 16px;
}

.v-label-warning, warning {
    font-size: 16px;
}

.v-label-instructions {
	/*background: yellow;*/
    font-size: 16px;
}

.icon-after-caption img {
    float: right;
}

.v-verticallayout-placeholderLayout {
    /*font-size: 18px;*/
}

.v-label-placeholder {
	/*background: yellow;*/
    font-size: 18px;
}

.v-verticallayout-externalsLayout {
    font-size: 14px;
}

.dialogLabel {
	font-size: 16px;
	font-style: bold;
	white-space:nowrap;
}

.vaadin-chart {
	float: left;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
}

.chartObject-draggable {
	float: left;
	border-style:solid;
	border-width:2px;
	border-color:yellow;
}

.chartPreview {
	float: left;
	border-style:solid;
	border-width:1px;
	border-color:lightgray;
}

.v-horizontallayout-infoTab {
	/* background: blue; */
}

.v-horizontallayout-controlTab {
	/*background: blue;*/
}

.v-verticallayout-containerLayout {
	/*background: red;*/
}

.v-verticallayout-controlsLayout {
}

.v-horizontallayout-scriptingLayout {
}

.v-verticallayout-scriptingControlsLayout {
}

.v-verticallayout-scriptingProgressLayout {
}

.stepIcons {
    font-size: 20px;
    font-weight: normal;
}

.v-embedded-image-stepIcons .v-embedded-image-caption {
    display: block;
    white-space: normal;
    text-align: center;
}

.v-verticallayout-scriptingResultsLayout {
}

.v-scriptingLayout-margin-top {
	padding-top: 50px;
}

.v-nativebutton-run {
    outline: none;
    border: none;
    background: transparent url(img/scripting/controls/start.png) no-repeat;
    width: 48px;
    height: 48px;
}    

.v-nativebutton-pause {
    outline: none;
    border: none;
    background: transparent url(img/scripting/controls/pause.png) no-repeat;
    width: 48px;
    height: 48px;
}    

.v-nativebutton-stop {
    outline: none;
    border: none;
    background: transparent url(img/scripting/controls/stop.png) no-repeat;
    width: 48px;
    height: 48px;
}    

.v-nativebutton-schedule {
    outline: none;
    border: none;
    background: transparent url(img/scripting/controls/schedule.png) no-repeat;
    width: 48px;
    height: 48px;
}    

