Source: mariadb-manager-webui
Maintainer: Leonardo Fei
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8)

Package: mariadb-manager-webui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, tomcat7, iptables, iptables-persistent, libmariadb-manager-java (>=0.1-10)
Description: MariaDB Manager Web UI
 MariaDB Manager is a tool to manage and monitor a set of MariaDB
 servers using the Galera multi-master replication form Codership.
 This package provides a web based user interface to the MariaDB
 Manager management and monitoring API.


